#development #intro {
    background-color: rgb(93, 26, 132);;
}

#development #background {
    background-color: rgb(238, 210, 254);
}

#development #research {
    background-color: rgb(247, 234, 255);
}