
#intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 7vh;
    background-color: rgb(90, 169, 230);
    /*rgb(0, 58, 109);*/
    color: white;
}

/*
Egyptian Blue: #0E34A0
Prussian Blue: #002642
*/

#intro h1 {
    font-size: 100px;
    margin-bottom: 0;
}

#intro p {
    font-size: 35px;
}

/* #intro-links {
    color: rgb(255, 241, 215);
} */

#intro span {
    font-size: 25px;
}

h2, h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

h2 {
    font-size: 2.3em;
}

.section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding-bottom: 5vh;
}

.section > div > p {
    width: 50%;
    font-size: 1.01em;
}
/* 
#background, #research, #design, #conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding-bottom: 5vh;
}

#background p, #research p, #design p, #conclusion p{
    width: 50%;
    font-size: 1.01em;
} */

#background, #design {
    background-color: rgb(202, 227, 248);
}

#research, #site {
    background-color: #f0f8ff;
}

#background img {
    width: 40%;
}

#row {
    display: flex;
    width: 50%;
}

#usability {
    margin-right: 1vw;
}

#accessibility{
    margin-right: 1vw;
}

.photo-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.website-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-link a {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-link img {
    width: 60%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition: transform .5s ease;
}

.website-link img, .photo-row img {
    transition: transform .5s ease;
}

.website-link img:hover, .photo-row img:hover {
    transform:scale(1.1);
}

/* .photo-row img:hover {
    filter:saturate(500%);
} */

.photo-row img {
    width: 15vw;
}

#conclusion {
    background-color: #0E34A0;
    color: white;
}

#hi-fi-tablet-thumbnail {
    width: 13vw;
}

#hi-fi-phone-thumbnail {
    width: 10vw;
}

#row {
    background-color: rgb(202, 227, 248);
    width: 65%;
    padding: 3vw;
}

#usability {
    margin-right: 1vw;
}

#accessibility {
    margin-left: 1vw;
}
