@font-face {
  font-family: "Jost";
  src: url(./fonts/Jost/static/Jost-Light.ttf);
}

@font-face {
  font-family: "Jost";
  src: url(./fonts/Jost/static/Jost-LightItalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url(./fonts/Jost/static/Jost-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Jost-Title";
  src: url(./fonts/Jost/static/Jost-Regular.ttf);
}

@font-face {
  font-family: "Jost-Title";
  src: url(./fonts/Jost/static/Jost-SemiBold.ttf);
  font-weight: bold;
}

/* @font-face {
  font-family: "Quattrocento";
  src: url(fonts/Quattrocento/Quattrocento-Bold.ttf);
  font-weight: bold;
} */

h1, h2, h3 {
  font-family: 'Jost-Title';
  font-weight: normal;
}

html, body {
  margin: 0;
}


.App {
  font-family: 'Jost';
}

#Tabs {
  display: flex;
  justify-content: center;
  background-color: rgb(210, 255, 182);
  padding: 1vh 0vh;
}
